<div class="container">
  <div class="page-header">
    <h1>Reenviar instrucciones de confirmación</h1>
  </div>

  <%= simple_form_for resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post } do |f| %>
    <%= f.input :email, autofocus: true %>
    <%= f.button :submit, class: "btn btn-primary" %>
    <%= render "devise/shared/links" %>
  <% end %>
</div>

