<div class="container">
  <div class="page-header">
    <h1>Nuevo torneo</h1>
  </div>

  <%= simple_form_for @tournament do |f| %>
    <%= f.input :name %>

    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
