<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="text-center">Administre su torneo de manera sencilla</h1>
        <p class="text-center">
          Organizar un torneo es algo difícil y costoso. Koncu es la plataforma
          de administración de torneos y competencias que estaba buscando para
          que lo difícil sea fácil, y lo costoso económico.
        </p>
        <div class="text-center">
          <%= link_to new_user_registration_path, class: "btn btn-lg btn-danger" do %>
            Pruébelo
          <% end %>
        </div>
      </div>
      <div class="col-md-4 visible-md visible-lg">
        <div style="margin-top: 35px;">
          <%= image_tag "futbol.jpg", class: "img-responsive img-rounded" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h2>¿Cómo funciona?</h2>

  <div class="row">
    <div class="col-md-4">
      <div class="alert alert-danger">
        <h3>
          <i class="fa fa-calendar"></i>
          Fixtures automáticos
        </h3>
        <p class="text-justify">
          Ingrese la información básica de su torneo, sedes de encuentros y
          horarios de disponibilidad y deje que Koncu se encargue de generar su
          fixture automáticamente.
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="alert alert-info">
        <h3>
          <i class="fa fa-bar-chart-o"></i>
          Estadísticas
        </h3>
        <p class="text-justify">
          Con sólo registrar resultados de los encuentros Koncu genera
          estadísticas completas, actualiza tablas de puntuaciones y fixtures y
          calcula promedios de descenso, ELOs y mucho más.
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="alert alert-warning">
        <h3>
          <i class="fa fa-bullhorn"></i>
          Anuncios
        </h3>
        <p class="text-justify">
          Koncu se encarga de avisar a los participantes acerca de encuentros,
          fechas, sedes, resultados y otras notificaciones que deba hacerles
          llegar, de manera automática.
        </p>
      </div>
    </div>
  </div>
</div>

