<p>¡Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado restaurar su contraseña. Puede hacerlo siguiendo el siguiente link.</p>

<p><%= link_to 'Restaurar mi contraseña', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Si no ha solicitado restaurar su contraseña, ignore este mail. No restauraremos su contraseña hasta que no haga click en el link provisto.</p>
